
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div>
        <button mat-fab color="basic" [routerLink]="['/home']">
          <mat-icon>home</mat-icon>
        </button>
      </div>
        <div>
        <button mat-button color = "basic" [routerLink]="['/owners']">Owners</button >
        </div>
        <div>
          <button mat-button color = "basic" [routerLink]="['/manufacturer','Honda']">Manufacturer</button >
          </div>
      <a mat-list-item routerLink="/owners" routerLinkActive="active">Owners</a>
      <a mat-list-item [routerLink]="['/manufacturer','Honda']" routerLinkActive="active">Manufacturer</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>project2021</span>
      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)">Signup</a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)">Login</a>
      <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser()|async)">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
