.example-card {
    max-width: 400px;
    margin: 10px;
    background-color:rgb(249, 239, 237);
  }
  mat-bold {
    font-weight:bold;
}

.mat-card{
  background-color:rgb(249, 239, 237);
}
mat-card-content{
  font-size: large;
}


.tile-image {
  width:140px;
  border: 7px solid #ddd;

}
  
  
  .example-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/project2021-e649b.appspot.com/o/round2.png?alt=media&token=1023e8ec-9291-4fbd-9e9f-d3c0cdb09f8b');
    background-size: cover;
    background-color:rgb(249, 239, 237);
  }
  